# Week 1, Day1 and Part A Exercises

# Table of Contents  

**[Question 1: Numeric type](#1)**

**[Question 2: String Type](#2)**

**[Question 3: Error type](#3)**

**[Question 4: List Type](#4)**

**[Question 5: Multiplication Operation](#5)**

**[Question 6: Boolean Operator](#6)**

**[Question 7: Variable ](#7)**

**[Question 8: Variable Tricky Name](#8)**

**[Question 9: Maths and Increment operations ](#8)**

## Question 1: Numeric type ( Integer, Float )

_Use code to determine the answers to the question 1.1-1.4_

### 1.1 
What is the type of ```1```?

### 1.2 
What about the type of ```1.0```?

### 1.3 
What is the resulting type of adding an ```1``` and ```1```?

### 1.4
What is the resulting type of adding ```1``` and ```1.0```?

### 1.5
So, what can you say about the resulting type of adding an ```int``` and a ```float```?

## Question 2 : String Type

_Use code to determine the answers to the question 2.1-2.4_

### 2.1
What is the type of `"Jelani"`?

### 2.2
What is the type of ```'Computer'```?

### 2.3
What happens when you add ```"Jelani"``` and ```'Computer'```?

### 2.4
What is the resulting type of adding ```"Jelani"``` and ```'Computer'```?

### 2.5
Is there a difference between single quotes and double quotes?

### 2.6
What happens when you add two strings (with the `+` operator)?

## Question 3: Error Type

_Use code to determine the answers to the question 3.1_

### 3.1
What is the resulting type of adding ```3``` and ```'3'```?

### 3.2
Can you explain why the error occured?

## Question 4: List type

_Use code to determine the answers to the question 4.1-4.4_

### 4.1
Make a list that contains ```4``` and ```5.0```.

### 4.2
Can you make a list that has ```1```, ```2``` and ```"Jelani"```in it?

### 4.3
Can you make a list that contains ```1```, ```2```, ```"Jelani"```, and ```[4, 5.0]```?

### 4.4
Think about another type we haven't used in Question 4. Can you put it in the list of ```[1, 2.0]```?

### 4.5
What types can lists contain?

### 4.6
Add lists ```[5, 6, 'pom']``` and ```[True, 12, 5.0]``` together. What happens?

## Question 5: Multiplication Operation

_Use code to determine the answers to the question 5.1-5.4_

### 5.1
Multiply ```5``` and ```4```.

### 5.2
Multiply ```'Shiro'``` by ```3```.

### 5.3
Multiply ```5.0``` and ```4```.

### 5.4
Multiply ```['Shiro', 5]``` by ```4```.

### 5.5
What patterns emerge when you multiply different types with an integer?

# Question 6: Boolean operator

_The upper left corner that's colored represents the operator. For example, in figure 1, B represents the result of False and True._

**Figure 1**

| AND      |  True | False |
| -------- | ----- | ----- |
| **True** |   A   |   B   |
| **False**|   C   |   D   |

**Figure 2**
 
|  OR      |  True | False |
| -------- | ----- | ----- |
| **True** |   E   |   F   |
| **False**|   G   |   H   |

### 6.1
What are the boolean values of A through H? Use your intuition.

*Fill out this list.*

A. 

B. 

C. 

D.

E. 

F. 

G. 

H.

### 6.2
Use code to check your above answers.

### 6.3
Are ```3``` and ```'3'``` equivalent? Use code to confirm.

### 6.4
Are ```"Jelani"``` and ```"jelani"``` equivalent? Use code to confirm.

### 6.5
What is the result of ```(not False) == True```?

## Question 7 Variable

### 7.1
Define a variable ```x```, that has a value of ```5```.

### 7.2
Define a variable ```y```, that has a value of ```x```.

### 7.3
What is the value of ```y```?

### 7.4
Change ```x``` to ```4```. What is the value of ```y```?

### 7.5
Define a variable ```z```, that has a value of the sum of ```x``` and ```y```

### 7.6
Assign ```x``` another value, ```12```. What are the values of ```y``` and ```z```?

### 7.7
Define a variable ```x``` and assign it the value of ```False```,  **but without using the keyword `False`**. 

Hint: You can do it using one special operator.

## Question 8: Tricky variable name

### 8.1
Given the following lines of code, what is the value of the variable ```seven```?

```python
seven = 8
```

### 8.2
Given the following lines of code, are the variables ```shiro``` and ```Shiro``` equivalent?

In [ ]:
shiro = 10
Shiro = 12

## Question 9: Maths and Increment operations

### 9.1
Define a variable ```x``` that has the value ```10``` times ```20```.

### 9.2
Now increment `x` by 3.

Can you increment `x` by 3 in a different way (using a different operator)?

### 9.3
Find the remainder of ```78``` divided by ```14``` using one operator from lecture. For example - 

$16 = 5 * 3 + 1$ (1 is the remainder).

### 9.4
Given ```x```, make ```x``` 10 times smaller using one operation. Return a value that has the type ```int```.

### 9.5
What type(s) can you multiply lists with, without creating an error?

### 9.6
Write code to produce

a.  ``` 'ShiroShiroShiro' ```

b. ```'Shiro3'```

You should only type  ```'Shiro'``` once and ```3``` once for each case.

### 9.7
Look at the following code
```python
x = 99
x /= 10
x *= 50
y = x
y += 5
x -= y
y %= x

```
What is ```x``` and ```y```?  Try to do it in your head (or on paper) first before trying it with code.