# Lecture 1, Part 1 Exercises

## Question 1

_Use code to determine the answers to the question 1.1-1.4_

### 1.1 
What is the type of ```1```? Use the function ```type``` to determine.

In [ ]:
type(1)

### 1.2 
What about the type of ```1.0```?

In [ ]:
type(1.0)

### 1.3 
What is the resulting type of adding an ```1``` and ```1```?

In [ ]:
type(1+1)

### 1.4
What is different about the resulting type of adding ```1``` and ```1.0```?

In [ ]:
type(1+1.0)

### 1.5
So, what can you say about the resulting type of adding an ```int``` and a ```float```?

In [ ]:
type(1+1.0)

## Question 2

_Use code to determine the answers to the question 2.1-2.4_

### 2.1
What is the type of `"Jelani"`?

In [ ]:
type("Jelani")

### 2.2
What is the type of ```'Computer'```?

In [ ]:
type("computer")

### 2.3
What happens when you add ```"Jelani"``` and ```'Computer'```?

In [ ]:
# It creates a joined string.
"Jelani" + 'Computer'

### 2.4
What is the resulting type of adding ```"Jelani"``` and ```'Computer'```?

In [ ]:
type("Jelani"+"computer")

### 2.5
Is there a difference between single quotes and double quotes?

In [ ]:
# There is no difference.
'abc' == "abc"

### 2.6
What happens when you add two strings (with the `+` operator)?

In [ ]:
# It will concatenate the first str to the second one.
'abc' + 'def'

## Question 3

_Use code to determine the answers to the question 3.1_

### 3.1
What is the resulting type of adding ```3``` and ```'3'```?

In [ ]:
# Throws an error.
3 + '3'

### 3.2
Can you explain why the error occured?

In [ ]:
# 'str' and 'int' types are incompatible.

## Question 4

_Use code to determine the answers to the question 4.1-4.4_

### 4.1
Make a list that contains ```4``` and ```5.0```.

In [ ]:
l = [4, 5.0]
l

### 4.2
Can you make a list that has ```1```, ```2``` and ```"Jelani"```in it?

In [ ]:
li = [1, 2, 'Jelani']
li

### 4.3
Can you make a list that contains ```1```, ```2```, ```"Jelani"```, and ```[4, 5.0]```?

In [ ]:
[1, 2, 'Jelani', [4, 5.0]]

### 4.4
Think about another type we haven't used in Question 4. Can you put it in the list of ```[1, 2.0]```?

In [ ]:
# Can be either NoneType or bool.
[1, 2.0, True]

### 4.5
What types can lists contain?

In [ ]:
# Any type

### 4.6
Add lists ```[5, 6, 'pom']``` and ```[True, 12, 5.0]``` together. What happens?

In [ ]:
[5, 6, 'pom'] + [True, 12, 5.0]

## Question 5

_Use code to determine the answers to the question 5.1-5.4_

### 5.1
Multiply ```5``` and ```4```.

In [ ]:
5 * 4

### 5.2
Multiply ```'Shiro'``` by ```3```.

In [ ]:
'Shiro' * 3

### 5.3
Multiply ```5.0``` and ```4```.

In [ ]:
5.0 * 4

### 5.4
Multiply ```['Shiro', 5]``` by ```4```.

In [ ]:
['Shiro', 5] * 4

### 5.5
What patterns emerge when you multiply different types with an integer?

In [ ]:
# It repeats the content of the list to the number of times we give.
['Shiro', 5] * 4

## Question 6

_The upper left corner that's colored represents the operator. For example, in figure 1, B represents the result of False and True._

### Figure 1. 
![Table for `and`](https://www.addiscoder.com/syllabus/2018/notebooks/AndImg.png)

### Figure 2. 
![Table for `or`](https://www.addiscoder.com/syllabus/2018/notebooks/OrImg.png)

### 6.1
What are the boolean values of A through H? Use your intuition. 

A. True

B. False

C. False

D.False

E. True


F. True


G. True


H.False

### 6.2
Use code to check your above answers.

In [ ]:
# Explore here
print(True and True)
print(True and False)
print(False and True)
print(False and False)

print(True or True)
print(True or False)
print(False or True)
print(False or False)

### 6.3
Are ```3``` and ```'3'``` equivalent? Use code to confirm.

In [ ]:
3 == '3'

### 6.4
Are ```"Jelani"``` and ```"jelani"``` equivalent? Use code to confirm.

In [ ]:
"Jelani" == "jelani"

### 6.5
What is the result of ```(not False) == True```?

In [ ]:
(not False) == True

In [ ]:
x = not True

## Question 7

### 7.1
Define a variable ```x```, that has a value of ```5```.

In [ ]:
x = 5
x

### 7.2
Define a variable ```y```, that has a value of ```x```.

In [ ]:
y = x
y

### 7.3
What is the value of ```y```?

In [ ]:
y

### 7.4
Change ```x``` to ```4```. What is the value of ```y```?

In [ ]:
x=4
y

### 7.5
Define a variable ```z```, that has a value of the sum of ```x``` and ```y```

In [ ]:
z=x+y
z

### 7.6
Assign ```x``` another value, ```12```. What are the values of ```y``` and ```z```?

In [ ]:
x=12
print(y)
print(z)

### 6.6
Define a variable ```x``` and assign it the value of ```False```,  **but without using the keyword `False`**. 

Hint: You can do it using one special operator.

## Question 8

### 8.1
Given the following lines of code, what is the value of the variable ```seven```?

```python
seven = 8
```

In [ ]:
seven = 8
seven

### 8.2
Given the following lines of code, are the variables ```shiro``` and ```Shiro``` equivalent?

In [ ]:
shiro = 10
Shiro = 12
shiro == Shiro

## Question 9

### 9.1
Define a variable ```x``` that has the value ```10``` times ```20```.

In [ ]:
x = 10 * 20
x

### 9.2
Now increment `x` by 3.

In [ ]:
x += 3
x

Can you increment `x` by 3 in a different way (using a different operator)?

In [ ]:
x = x + 3
x

### 9.3
Find the remainder of ```78``` divided by ```14``` using one operator from lecture. For example - 

$16 = 5 * 3 + 1$ (1 is the remainder).

In [ ]:
78 % 14

### 9.4
Given ```x```, make ```x``` 10 times smaller using one operation. Return a value that has the type ```int```.

In [ ]:
x = 200
x // 10

## Question 10

### 10.1
What type(s) can you multiply lists with, without creating an error?

In [ ]:
# int type only
[1,1.3,'kidist'] * 3

## Question 11

### 11.1
Write code to produce

a.  ``` 'ShiroShiroShiro' ```

b. ```'Shiro3'```

You should only type  ```'Shiro'``` once, and ```3``` once for each case.

In [ ]:
print("Shiro" * 3)
print("Shiro" + '3')

## Question 12

### 12.1
Look at the following code
```python
x = 99
x /= 10
x *= 50
y = x
y += 5
x -= y
y %= x

```
What is ```x``` and ```y```?  Try to do it in your head (or on paper) first before trying it with code.

In [ ]:
x = 99
x /= 10
x *= 50
y = x
y += 5
x -= y
y %= x
print(x)
print(y)