# Lecture 1, Part 2 Exercises

## Question 1
_Use code for exercises 1.1-1.3_

### 1.1 
Use function _print_ to print ```"Daniel"```. On a new line, print his occupation - ```"Lecturer"```. Finish by printing another new line with his favorite TAs - ```"Jessica"```, ```"Jess"``` and ```"Jessica Lee"```.

In [0]:
print("Daniel")
print("Lecturer")
print("Jessica","Jess","and","Jessica Lee")

Daniel
Lecturer
Jessica Jess and Jessica Lee

### 1.2 
Given the code below, print ```x```, ```y```, and ```z``` on three different lines.

In [0]:
x = 17
y = 19
z = 42
print(x)
print(y)
print(z)

17
19
42

### 1.3 
Given the code below, print ```u```, ```v```, and ```w``` on the same line.

In [0]:
u = [3, 5, 8]
v = True
w = 3.14
print(u,v,w)

[3, 5, 8] True 3.14

## Question 2 
_Use code for exercises 2.1-2.3_

### 2.1 
Given the list ```list1```, print the first element.

In [0]:
list1 = ["coder", 2018, "addis"]
print(list1[0])

coder

### 2.2 
Given the list ```list2```, print the last element in two ways.

In [0]:
list2 = ['apple', 'orange', 'banana', 'pear', 'dragonfruit', 'lychee', 'starfruit']
print(list2[6])
print(list2[-1])

starfruit
starfruit

### 2.3 
Given ```list3```, print the 5th through 8th indexed elements 

_Hint: You should be printing 4 elements_

In [0]:
list3 = [True, False, True, True, True, False, True, True, True, False]
         
print(list3[5:9])

[False, True, True, True]

### 2.4 
Given ```list4``` print the last 5 elements in two ways.

In [0]:
list4 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
print(list4[-5],list4[-4],list4[-3],list4[-2],list4[-1])
print(list4[7],list4[8],list4[9],list4[10],list4[11])

21 34 55 89 144
21 34 55 89 144

### 2.5 
Given ```list5```, create the list ```[4,3,"hello world", "Jelani"]``` using one line of code. How do you know you've succeeded? 

_Hint: print out the list to check_

In [0]:
list5 = [4, 3, 7, 'Jelani']
list5.insert(2,"hello world")
print(list5)

[4, 3, 'hello world', 7, 'Jelani']

### 2.6 
Given ```str1```, create the string ```cat``` by using slicing.

In [0]:
str1 = "caterpillar"
print(str1[0:3])  # modify this line

cat

## Question 3

### 3.1 
Try executing the code below. Can you change the output by changing only 1 character (there may be multiple solutions)?

In [0]:
x = 42
y = 111
print(x < y)

True

Yes we can change th output. 

x = 423
y = 111

print(x < y).

### 3.2 
What is different in the case below?

```
x = "42"
y = "111"
print(x < y)
```

the main difference between 3.1 and 3.2 is the type of the variables 'x' and 'y'. In 3.1 it is int in 3.2 it is string.

### 3.3 
Construct an 4 digit number and a 5 digit number such that the 4 digit number is greater than the 5 digit number when they are of type string.

In [0]:
x = '5678'
y = '34555'
print(x > y)

True

### 3.4 
What would be the result of the following operations?


```
'A' == 'a' 
'Brunch'< 'banana' 
'coffee' < 'Coffee' 
'Dog' > 'cat'
'Daniel' != 'daniel'
'jessica' > 'jess'
'CORINA' < 'CORONA'
```

In [0]:
print('A' == 'a' )
print('Brunch'< 'banana' )
print('coffee' < 'Coffee') 
print('Dog' > 'cat')
print('Daniel' != 'daniel')
print('jessica' > 'jess')
print('CORINA' < 'CORONA')

False
True
False
False
True
True
True

### 3.5 
Check your answer in the box below. Can you figure out the rules for string comparisons?

In [0]:
# Explore here
# print('A' == 'a')
#ans....i think it compares their Ascii value A!=a b/c 65<97

## Question 4

### 4.1 
Write a function that takes ```x``` as an argument, and returns ```5 * x```.

In [0]:
def multFive(x):
    return  5*x  # place code here 
x=int(input("pls enter the value of x:"))
multFive(x)

pls enter the value of x:4

20

### 4.2 
Write a function that takes ```x``` as an argument and returns ```x + 2```.

In [0]:
def addTwo(x):
    return x+2  # place code here
x=int(input("pls enter the value of x:"))
addTwo(x)

pls enter the value of x:4

6

### 4.3 
Write a function that returns ```5 * x + 2```, without using any arithmetic operations.

_Hint: use multFive and addTwo. Please run the cells for exercises 4.1 and 4.2 before running this cell._

In [0]:
def me():
    return addTwo(multFive(x))

me()

22

### 5.1 
Write a function called ```addXtoY``` that takes two arguments ```x``` and ```y```, and returns their sum.

In [0]:
def addXtoY(x,y):
    return x+y
x=int(input("enter the value of x:"))
y=int(input("enter the value of y:"))
addXtoY(x,y)

enter the value of x:4
enter the value of y:7

11

### 5.2 
Write a function called ```multiplyXandY``` that takes two arguments ```x``` and ```y```, and returns their product.

In [0]:
def multiplyXandY(x,y):
    return x*y
x=int(input("enter the value of x:"))
y=int(input("enter the value of y:"))
multiplyXandY(x,y)

enter the value of x:4
enter the value of y:7

28

### 5.3 
Use the functions from 5.1 and 5.2, and add at least 3 functions similar to those above that simulate a calculator's functions.

In [0]:

def addXtoY(x,y):
    return x + y

def multiplyXandY(x,y):
    return x * y

def  dividXtoY(x,y):
     return x/ y
    
def modXY(x,y):
    return x%y

def sub(x,y):
    return x-y

def calc(x,y):
    return addXtoY(x,y) + multiplyXandY(x,y) + dividXtoY(x,y) + modXY(x,y) + sub(x,y)



print(addXtoY(3,4))
print(multiplyXandY(3,4))
print(dividXtoY(3,4))
print(modXY(3,4))
print(sub(3,4))

7
12
0.75
3
-1

### 5.4 
Use your calculator functions to write a function that represents $ f(x) = 5x + 4 $.

In [0]:
def f(x):
    return  5*x+4  # place code here
f(7)

39

## Question 6

### 6.1 
Write a function called ```concatXandY``` that takes two strings ```x``` and ```y```, and concatenates them together.

In [0]:
def concatXandY(x,y):
       return x+y
concatXandY("hello"," Addiscoders")

'hello Addiscoders'

### 6.2 
Write a function ```concatXYZ``` that takes three strings ```x```, ```y```, and ```z```, and concatenates them together without using any arithmethic operations.

In [0]:
def concatXYZ(x,y,z):
    return concatXandY(concatXandY(x,y),z)
concatXYZ('hello ',"Addiscoder ", 'programmers')

'hello Addiscoder programmers'

## Question 7

### 7.1 
Write a function ```cToF``` that converts Celsius to Fahrenheit using the equation $F = C \times \frac{9}{5} + 32$.

In [0]:
def cTof(c):
    return (c*(9/5))+32
f=cTof(90)
print("F=",f)

F= 194.0

### 7.2 
Write a function ```fToC``` that converts Fahrenheit to Celsius using the equation $C = (F - 32) \times \frac{5}{9}$.

In [0]:
def fToc(f):
    return ((f-32)*5/9)
c=fToc(194)
print("C=",c)

C= 90.0

### 7.3 
What happens when you call ```cToF(fToC(x))```? Try for a few values of ```x```. Can you prove it?

In [0]:
def me1(x):
    return cTof(fToc(x))
me1(194)

194.0

## Question 8

### 8.1 
Write a function called ```pythagoreanTriplet``` that takes in 3 integers which will represent triangle side lengths and returns a bool, to determine if it forms a right-angled triangle. The arguments are guaranteed to be sorted in increasing order.

_Hint: A triangle is a right-angled when side lengths a, b, and c satisfy $ a^{2} + b^{2} = c^{2}$._

In [0]:
# write function here

def pythagoreanTriplet(a,b,c):
    return (a**2 + b**2) == c**2

# some unit tests
print(pythagoreanTriplet(3, 4, 5))

True

## Question 9

### 9.1 
A palindrome is a string that is the same when read forwards and backwards. For example, "madam", "alabala", and "12321" are palindromes but "daniel", "hello", and "1234" are not. Write a function ```threePalindrome``` that takes in a THREE-LETTER string, and returns a boolean that is ```True``` when the string is palindrome, and ```False``` when it is not.

In [0]:
def revers(x):
    return x[::-1]
def threePalindrome(x):
    rev=revers(x)
    if (x==rev):
     return True
    return False
x='mom'
y=threePalindrome(x)
if(y==1):
    print("True")
else:
    print("false")

True

### 9.2 
Write a function ```fourPalindrome``` that checks if a four-letter string is a palindrome.

In [0]:
def revers(x):
    return x[::-1]
def threePalindrome(x):
    rev=revers(x)
    if (x==rev):
     return True
    return False
x='madam'
y=threePalindrome(x)
if(y==1):
    print("True")
else:
    print("false")

True

## Question 10

### 10.1 
Look at the function below. Without running it, can you predict the outcomes of calling ```funkyFunc(100)```, ```funkyFunc(123456)```, and ```funkyFunc(420)```?

```
def funkyFunc(x):
    z = x * 10
    x = x % 10
    z = z + x
    return z
```

In [0]:
# for x = 100,     funkyFunc(x) = ??
# for x = 123456,  funkyFunc(x) = ??
# for x = 420,      funkyFunc(x) = ??

# Check your answers below:

funkyFunc(100)=1000
funkyFunc(123456)=1234566
funkyFunc(420)=4200

### 10.2 
Can you write a function ```funkierFunc``` which takes one argument and for which the following equation is true for any $x>0$:
 
 ```funkierFunc ( funkyFunc(x) ) = x```

In [0]:
def funkierFunc(x):
  a = x % 10
  b = x // 100 * 10
  return a + b

SyntaxError: unexpected EOF while parsing (<ipython-input-2-70fdd6ba2f1d>, line 2)