# Lecture 2, Part 1 Exercises

## ***Core Questions***

## Question 1

### 1.1

How can we print the string 
```
He said, "Hello there!"
```
?

In [0]:
# Write your answer here!
print("He said, \"Hello there\"")

He said, "Hello there"

### 1.2

This print statement will fail with an error. Please fix the code so that it prints "my age is 24".

In [0]:
print('my age is ' + 24)

In [0]:
# Write your modified answer here!
print('my age is ' + str(24))

my age is 24

### 1.3

For what **value** of `x` will the following code segment print `"yes"`? Modify these lines to make this happen.

In [0]:
def printX(x):
    if x == 5:
        print("yes")

printX(1)  # Modify this line to make this happen! e.g. what happens if you try printX(2), printX(3), etc..
#solution
printX(5) #answer

yes

## Question 2

### 2.1
Now it's your turn. Write a function that takes in an input x and returns x without modifying it.

In [1]:
def return_x(x):
    return x

return_x(5)

5

### 2.2
Great job! Just one more function is needed. Write a function that takes in a number x and returns three times x minus one.

In [2]:
def times_three_minus_one(x):
    return (3*x)-1
times_three_minus_one(3)

8

### 2.3

For what **value** of `x` would this function print `"five"`?  `"six"`?  `"other"`?

In [0]:
def printX(x):
    if x == 5:
        print("five")
    elif x == 6:
        print("six")
    else:
        print("other")

printX(1) # Modify this line
#solutions
printX(5)# answer "five"
printX(6)# answer "six"
printX(34)# answer "other" Note: Are there many ways to get `"other"` or only one way?

other
five
six
other

## Question 3

What do you expect the following calls to *print*?

### 3.1

```python
def foo():
    if -10 == 10:
        print('Hello world!')
    else:
        print('Goodbye world!')
foo()
```

## Answer:
it will print Goodbye world!

How can you **verify** your solution using the **code** above?

In [1]:
# Write code here to verify! 
def foo():
    if -10 == 10:
        print('Hello world!')
    else:
        print('Goodbye world!')
foo()

Goodbye world!

### 3.2

```python
def bar():
    if -10 < 10:
        print('Hello world!')
    else:
        print('Goodbye world!')
bar()
```

## Answer:
it will print Hello world!

How can you **verify** your solution using the **code** above?

In [0]:
# Write code here to verify! 
def bar():
    if -10 < 10:
        print('Hello world!')
    else:
        print('Goodbye world!')
bar()

Hello world!

### 3.3

```python
def foobar():
    if -10 != 10:
        print('Hello world!')
    else:
        print('Goodbye world!')
foobar()
```

## Answer:
it will print Hello world!

How can you **verify** your solution using the **code** above?

In [0]:
# Write code here to verify! 
def foobar():
    if -10 != 10:
        print('Hello world!')
    else:
        print('Goodbye world!')
foobar()

Hello world!

## Question 4

### 4.1

We will present **incorrect functions** that takes an **integer test score between 0 and 100 as an input**, and **prints** the corresponding **letter grade**. You will be asked to fix the errors in the code. 

(This process of finding and fixing the errors is called debugging.)

Here are the cutoffs: 

    90-100   A

    80-89    B

    70-79    C
    
    60-69    D

    0-60     F

Warmup: Daniel has gotten score 75 on an exam. What **letter grade** (from A to F) does this correspond to?

## Answer:
    It corresponds to letter C

### 4.2

A student tried to write the code for this. Here is their attempt:

In [0]:
def printGradeIncomplete(x):
    if x >= 90:
        print("A")
    elif x >= 80:
        print("B")
    elif x >= 70:
        print("C")
    elif x >= 60:
        print("D")

This code, however, is **incomplete**. Can you see why?
What happens if a student gets 55? **Modify** the code above (**add** an `else` statement to the `printGradeIncomplete` function) to take care of this case.

In [0]:
#the modified solution 
def printGradeIncomplete(x):
    if x >= 90:
        print("A")
    elif x >= 80:
        print("B")
    elif x >= 70:
        print("C")
    elif x >= 60:
        print("D")
    else:
        print("F")
        
printGradeIncomplete(55)

F

### 4.3

Another student tries to code a different method. This however, is also **incorrect**.

In [0]:
def printGradeIncorrect(x):
    if x >= 60:
        print("D")
    elif x >= 70:
        print("C")
    elif x >= 80:
        print("D")
    elif x >= 90:
        print("A")
    else:
        print("F")
        
printGradeIncorrect(55) # This one is correct 
printGradeIncorrect(65) # This one is correct
printGradeIncorrect(96) # And this one is incorrect

F
D
D

Can you **spot the error** in the code above? For what **input scores** will this print the right letter?

## Answer:
    Because the order of the elif statement is incorrect and some of the grade letter are not in their correct order.

### 4.4

Now the student thinks he's got it. This also **does not work** as expected though.

In [0]:
def printGradeIncorrect2(x):
    if x >= 90:
        print("A")
    if x >= 80:
        print("B")
    if x >= 70:
        print("C")
    if x >= 60:
        print("D")
    else:
        print("F")

Can you **spot the error** in the code above? Again, for what **input scores** will this print the right letter?

## Answer:
    Because it is an if statement it will display multiple results. The code will only display correct result for marks less than 60.

**Modify** the code above (`printGradeIncorrect2` function) to make it **correct**. Make sure it only prints one letter grade for each input and that it prints the correct letter grade.

How can you **verify** that your function is correct? Write some test cases to verify your solution.

In [0]:
# Write some tests cases here (e.g. `printGradeIncorrect2(55) == 'F'` and more...)
#solution

def printGradeIncorrect2(x):
    if x >= 90:
        print("A")
    elif x >= 80 and x < 90:
        print("B")
    elif x >= 70 and x < 80:
        print("C")
    elif x >= 60 and x < 70:
        print("D")
    else:
        print("F")

printGradeIncorrect2(98)
printGradeIncorrect2(85)
printGradeIncorrect2(75)
printGradeIncorrect2(65)
printGradeIncorrect2(70)
printGradeIncorrect2(80)
printGradeIncorrect2(5)

A
B
C
D
C
B
F

## Question 5

### 5.1

Create a **list** storing five (5) different **integers**. Store this in a **variable** called `x`.

In [0]:
# Create the list here
#solution 
x= [1,2,3,4,56]

### 5.2

Using **list indexing** print the **first** and **last** values in the list. For the **last** value, do this two ways:

1) using `-1` 

2) NOT using `-1`

In [0]:
# Write code to print the first value here
print(x[0])

# Write code to print the last value for method 1 here (using -1)
print(x[-1])

# Write code to print the last value for method 2 here (NOT using -1)

print(x[len(x)-1])

1
56
56

### 5.3

Using **slicing** on list `x` make another list `y` containing the second to fourth elements inclusive. **Print** `y` and **verify** it is in fact the correct slicing.

In [0]:
# Write code to make another list `y` here 
#solution
y= x[1:4]
y

[2, 3, 4]

### 5.4

**Change** the first value of `y` to be `"hello"`, **without** making a new list.

In [0]:
# Write code to change the first value here
#solution
y[0]='hello'
y

['hello', 3, 4]

### 5.5

Using the ```len()``` function, print the **length** of `x` and the **length** of the **first element** of `y` (which should now be the string `"hello"`).

In [0]:
# Write code here to print the lengths of `x` and the first element of `y`
#solution
print(len(x))
print(len(y[0]))

5
5

Using code show that `x` and the first element of `y` are the **same lengths**.

In [0]:
# Write code here to show the lengths of `x` and the first element of `y` are the same
#solution
print(len(x)==len(y[0]))

True

 However, also using code and the ```type``` function, show they are **not the same type**.

In [0]:
# Write code here to show the lengths of `x` and the first element of `y` are not the same type
#solution 
print(type(x))
print(type(y[0]))

print(type(x)==type(y[0]))

<class 'list'>
<class 'str'>
False

## Question 6

Write a function `verifyInteger(x)` that takes in an integer `x` and **prints** if it is `"positive"`, `"negative"` or `"zero"`.

In [0]:
# Define your function verifyInteger here
def verifyInteger(x):
    if x > 0:
        print("positive")
    elif x < 0:
        print("negative")
    else:
        print("zero")
#test cases
verifyInteger(34)
verifyInteger(-56)
verifyInteger(0)

positive
negative
zero

## Challenging Questions

## Question 7

Different **ages** correspond to different **school** in Ethiopia. This shows these categories:

    0 - 5     No School
 
    6 - 13    Elementary School     

    14 - 18   High School
    
    19 - 22   University

    23 - 100  No School

### 7.1

Write a variable for Daniel that stores his age (an integer between 0 and 100). 

Now **using this variable**, how would you write a **conditional** to check if Daniel is in **elementary** school? If this is `True`, **print** the string `"Elementary School"`.

In [0]:
# Write code here to verify if Daniel is in "Elementary School" using conditionals (`if`, `elif`, `else`)
#solution
age = 8
if age >= 6 and age <= 13:
    print("Elementary school")

Elementary school

### 7.2

Similar to above, how would you write a **conditional** to check if Daniel is in the `"No School"` category? Make sure to verify both cases (`"Elementary School"` and `"No School"`) and if the age is in those ranges, **print** the string `"No School"`.

In [0]:
# Write code here to verify if Daniel is in "Elementary School" or "No School" using conditionals (`if`, `elif`, `else`)
# solution
age = 100 # test case

if (age >= 0 and age <= 5) or (age >= 23 and age <= 100) :
    print("No School")
elif age >= 6 and age <= 13:
    print("Elementary school")
else:
    print("Enter correct age range")

No School

### 7.3

Write a **function** `isInSchool(age)` where `age` is an integer between 0 and 100, that either returns `"No School"` if the person is not in school or `"School"` if the person is in school.

In [0]:
# Write a function here to verify if someone is in "School" or "No School" using conditional (`if`, `elif`, `else`)

#solution
def isInSchool(age):
    if age >= 6 and age <= 22:
        print("School")
    else:
        print(" No School")

### 7.4

Now using the code pieces you just wrote and your knowledge of **conditionals**, write a function `scoolCategory(age)` that will take in an **age** integer between 0 - 100 and **prints** the category of school they are in (string). Try to do this using **only one if statement**.

In [0]:
def schoolCategory(age):
    # Complete the function here using the code from 5.1 to 5.3
    #solution
    if (age >= 0 and age <= 5) or (age >= 23 and age <= 100) :
         print("No School")
    elif age >= 6 and age <= 13:
          print("Elementary school")
    elif age >= 14 and age <= 18:
         print("High School")
    elif age >= 19 and age <= 22:
         print("University")
    else:
        print("Enter correct age range")
    return 0

#test cases
schoolCategory(20)
schoolCategory(2)
schoolCategory(7)
schoolCategory(15)
schoolCategory(200)

University
No School
Elementary school
High School
Enter correct age range

0

## Question 8

Write a f**unction** `listLen(l)` that takes in a list `l` and returns the **length** of the list if the list **is not empty**. If the input is the empty list, return `"this is empty"`.

In [0]:
# Define your function listLen(l) here
def listLen(l):
    if len(l) != 0:
        return len(l)
    else:
        return "this is empty"
#test cases
l1= [2,7,98,4]
l2= []
print(listLen(l1))
print(listLen(l2))

4
this is empty

## Question 9

Write a **function** ```allEqual(l)``` that takes in a list `l` and returns ```True``` if all the elements in the list **are equal** and ```False``` otherwise. You do not need for loops for this. 
Hint: You can **multiply** lists with integers and you can **compare** two lists to check if they are equal.

```python
allEqual([1,1,1]) == True
allEqual([]) == True
allEqual([1,2]) == False
allEqual(["salaam", "salaam"]) == True
```

In [1]:
# Define your function allEqual(l) here
#solution 
def allEqual(l):
    ele = l[0]
    chk= True
    for item in l:
        if ele != item: 
            chk = False
            break; 
              
    if (chk == True): return True
    else: return False
        
#test cases
allEqual([1,1,1]) 
#allEqual([]) 
allEqual([1,2]) 
allEqual(["salaam", "salaam"])

True

## Question 10

You are given two **lists of strings** called ```names``` and ```cities```. The **first person** in ```names``` lives in the **last city** in ```cities```, the second person lives in the second to last city, the third lives in the third to last, and so on. Write code to create a third list called ```inOrder``` such that the even indexes (0, 2, 4, etc.) are the names of the people (in order) and that the odd indexes (1, 3, 5, etc.) are the cities. For a person in index $i$, their corresponding city should be in index $i+1$. 

For example:

```python
names = ["Daniel", "Nati", "Jelani"]
cities = ["Cambridge","Addis Ababa", "San Fransisco"]
```
In this case, 

    - Daniel lives in San Francisco
    - Nati lives in Addis Ababa
    - Jelani lives Cambridge
    
    
You should create the final list:
```python
inOrder = ["Daniel","San Fransisco", "Nati", "Addis Ababa", "Jelani", "Cambridge"]
```

In [0]:
names = ["Timnit", "Binam", "Basi"]
cities = ["Harar", "Addis Ababa", "Gondar"]

In [0]:
# Write code to create `inOrder` list from `names` and `cities` lists
inOrder = []
l= len(names)
for i in range (l):
   
    inOrder += [names[i] ]  + [cities[l-i-1]]
print(inOrder)

['Timnit', 'Gondar', 'Binam', 'Addis Ababa', 'Basi', 'Harar']

## Question 11

Write a **function** `round(x)` that takes in a number `x` and returns the **rounded** version of that number.

For example, `round(1.2) = 1`

Similarly, `round(2.6) = 3`

In [0]:
# Write the function `round(x)` here
#solution
def round(x):
    if x - int(x) < 0.5:
        return (int(x))
    else: 
        return int(x)+1
    
#test case
print(round(3.4))
print(round(3.5))

3
4

## Question 12

Write a **function** `addFractions(l0, l1)` that takes in 2 lists `l0` and `l1` where each list represents a fractional number where the **first** number is the **numerator** and the **second** is the **denominator**. 


For example, $[2,1] => \frac{2}{1} = 2$, (Numerator is 2, denominator is 1)

For example, $[3,4] => \frac{3}{4} $,  (Numerator is 3, denominator is 4)


**We want to return the sum of these two fractions.**

For example, `addFractions([3,4], [2,3])` should return `[17, 12]` because $\frac{3}{4} + \frac{2}{3} = \frac{17}{12}$

In [0]:
# Write your `addFractions(l0, l1)` function here 
def addFractions(l0,l1):
    sum_num= l0[0] * l1[1] + l1[0] * l0 [1]
    sum_den= l0[1]* l1[1]
    return [sum_num,sum_den]
#test case
addFractions([3,4], [2,3])

[17, 12]

## Question 13

Write a **function** `costToM(n, m, upcost, downcost)` that takes in four (4) **integers**, `n`, `m`, `upcost`, `downcost`.  We want to know the cost to make `n` a **multiple** of `m`.It costs amount `upcost` for every **increment** ($+$) of 1 and costs amount `downcost` for every **decrement** ($-$) of 1.

**Return** the **cheapest** cost to get from `n` to a multiple of `m`.

For example, `costToM(14, 5, 1, 1)` should return 1 because you can get to 15 (a multiple of 5) with cost 1 and you can get to 10 (a multiple of 5) with cost 4. 

`costToM(14, 5, 20, 1)` should return 4 because you can get to 15 (a multiple of 5) with cost 20 and you can get to 10 (a multiple of 5) with cost 4.

In [1]:
# Write your function `costToM(n, m, upcost, downcost)` here

# solution 
def costToM(n, m, upcost, downcost):
    upCost=0
    downCost=0
    n1=n
    while n%m!=0:
        upCost+=upcost
        n+=1
    while n1%m!=0:
        downCost+=downcost
        n1-=1
    if downCost>upCost:
        return upCost
    return downCost

#test cases
#costToM(14, 5, 1, 1)
#costToM(14, 5, 20, 1)
costToM(11, 7, 1, 1)

3

## Question 14

Write a **function** `calcArea(p0, p1)` that takes in 2 points `p0`, `p1` where the first is the bottom left coordinate (x0, y0) and the second is the top right coordinate (x1, y1) of a rectangle. Return the area of the rectangle. 

For example, `calcArea((1,1), (4,5))` should return $4*3 = 12$.

![title](calcArea.png)

In [0]:
# Write function `calcArea(p0, p1)` here

def calcArea(p0,p1):
    width = p1[0]-p0[0]
    height= p1[1]- p0[1]
    return width *height

#test case
calcArea((1,1), (4,5))

12

## Question 15

### 15.1

Write a **function** `overlappingRectangles(l1, r1, l2, r2)` that takes in 4 points `l1`, `r1`, `l2`, `r2`. The first 2 points are the **bottom left** coordinate and **top right** coordinates of the **first rectangle**. The second 2 points are the **bottom left** and **top right** coordinates of the **second rectangle**. Return `True` if the 2 different rectangles overlap. 

For example, with the image below we would call the function with inputs as such: `overlappingRectangles((2,2), (7,3), (8,5), (9,7))`, and since they do not overlap, return `False`.

![title](overlapRect.png)

In [0]:
# Write overlappingRectangles(l1, r1, l2, r2) function here!
def overlappingRectangles(l1,r1,l2,r2):
    if ((l1[0] > r2[0]) or (l2[0] > r1[0])):
        return False
    if ( (l1[1] > r2[1]) or (l2[1] > r1[1])):
        return False
    return True

#test cases
#overlappingRectangles((2,2), (5,4), (3,4), (7,6))
#overlappingRectangles((2,2), (7,3), (8,5), (9,7))
overlappingRectangles((1,1), (7,7), (2,2), (8,8))

True

### 15.2

Write a **function** `areaOverlap(l1, r1, l2, r2)` to compute the **area** of the overlapping rectangles. If the rectangles do not overlap, return 0.

In [0]:
# Write areaOverlap(l1, r1, l2, r2) functiono here!
#solution

def areaOverlap(l1,r1,l2,r2):
    if (overlappingRectangles(l1,r1,l2,r2)):
        if ((r1[0] < r2[0]) and (l1[0] < l2[0])):
                               x_distanceOfoverlap = r1[0] - l2[0] 
        if ((r2[0] < r1[0]) and (l2[0] < l1[0])):
                                  x_distanceOfoverlap = r2[0] - l1[0] 
        if ((r1[1] < r2[1]) and (l1[1] < l2[1])):
                               y_distanceOfoverlap = r1[1] - l2[1] 
        if ((r2[1] < r1[1]) and (l2[1] < l1[1])):
                                  y_distanceOfoverlap = r2[1] - l1[1] 
        
        return x_distanceOfoverlap *  y_distanceOfoverlap
        
    else: return 0
                                
#test cases 
                                
areaOverlap((1,1), (7,7), (2,2), (8,8))

25